#
# Cookbook Name:: {{ cookbook_name }}
# Recipe:: filesystem
#
# Copyright (C) 2016 RSA Security
#
# All rights reserved - Do Not Redistribute
#

nw_base_filesystem '{{ cookbook_name }}' do
  action :apply
end
